In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Importing the data
df = pd.read_csv('Loan.csv')

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df.drop(['Loan_ID'],axis=1,inplace= True)

In [6]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
df['Credit_History'] = df['Credit_History'].astype('object')

In [8]:
df['ApplicantIncome'] = df['ApplicantIncome'].astype('float64')

In [9]:
for columns in df:
    if (df[columns].dtype == np.int64 or df[columns].dtype == np.float64):
        n = df[columns].mean()
        df[columns] = df[columns].fillna(n)

In [10]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
df['Gender']=df['Gender'].fillna(('Male'))
df['Married']=df['Married'].fillna(('Yes'))
df['Dependents']=df['Dependents'].fillna(('0'))
df['Self_Employed']=df['Self_Employed'].fillna(('No'))
df['Credit_History']=df['Credit_History'].fillna(('1'))

In [16]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1,Urban,Y
1,Male,Yes,1,Graduate,No,4583.0,1508.0,128.000000,360.0,1,Rural,N
2,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1,Urban,Y
4,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1,Urban,Y

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
Gender               614 non-null object
Married              614 non-null object
Dependents           614 non-null object
Education            614 non-null object
Self_Employed        614 non-null object
ApplicantIncome      614 non-null float64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null object
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), object(8)
memory usage: 57.6+ KB

In [19]:
num = [col for col in df.columns.values if df[col].dtype == 'float64']

In [20]:
df_num = df[num]

In [21]:
df_num.head()

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0           5849.0                0.0  146.412162             360.0
1           4583.0             1508.0  128.000000             360.0
2           3000.0                0.0   66.000000             360.0
3           2583.0             2358.0  120.000000             360.0
4           6000.0                0.0  141.000000             360.0

In [22]:
cat = [col for col in df.columns.values if df[col].dtype == 'object']

In [23]:
df_cat = df[cat]

In [24]:
df_cat.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,1,Urban,Y
1,Male,Yes,1,Graduate,No,1,Rural,N
2,Male,Yes,0,Graduate,Yes,1,Urban,Y
3,Male,Yes,0,Not Graduate,No,1,Urban,Y
4,Male,No,0,Graduate,No,1,Urban,Y

In [25]:
cat_dummies = pd.get_dummies(df_cat,drop_first= True)

In [26]:
cat_dummies.head()

,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Credit_History_1.0,Credit_History_1,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,1,0,0,0,0,0,0,1,0,0,1,1
1,1,1,1,0,0,0,0,1,0,0,0,0
2,1,1,0,0,0,0,1,1,0,0,1,1
3,1,1,0,0,0,1,0,1,0,0,1,1
4,1,0,0,0,0,0,0,1,0,0,1,1

In [27]:
cat_dummies.shape

(614, 12)

In [28]:
new_data = pd.concat([df_num,cat_dummies],axis=1)

In [32]:
new_data.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Credit_History_1.0,Credit_History_1,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,5849.0,0.0,146.412162,360.0,1,0,0,0,0,0,0,1,0,0,1,1
1,4583.0,1508.0,128.000000,360.0,1,1,1,0,0,0,0,1,0,0,0,0
2,3000.0,0.0,66.000000,360.0,1,1,0,0,0,0,1,1,0,0,1,1
3,2583.0,2358.0,120.000000,360.0,1,1,0,0,0,1,0,1,0,0,1,1
4,6000.0,0.0,141.000000,360.0,1,0,0,0,0,0,0,1,0,0,1,1

In [30]:
from sklearn.model_selection import train_test_split

In [32]:
X = new_data.iloc[:,0:15]

In [33]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Credit_History_1.0,Credit_History_1,Property_Area_Semiurban,Property_Area_Urban
0,5849.0,0.0,146.412162,360.0,1,0,0,0,0,0,0,1,0,0,1
1,4583.0,1508.0,128.000000,360.0,1,1,1,0,0,0,0,1,0,0,0
2,3000.0,0.0,66.000000,360.0,1,1,0,0,0,0,1,1,0,0,1
3,2583.0,2358.0,120.000000,360.0,1,1,0,0,0,1,0,1,0,0,1
4,6000.0,0.0,141.000000,360.0,1,0,0,0,0,0,0,1,0,0,1

In [34]:
Y = new_data['Loan_Status_Y']

In [35]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.25,random_state = 0)

In [36]:
X_test.shape

(154, 15)

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
model = LogisticRegression()

In [39]:
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [40]:
predictions = model.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score

In [42]:
accuracy_score(Y_test,predictions)

0.8376623376623377

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
model2 = DecisionTreeClassifier()

In [45]:
model2.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [46]:
predictions2 = model2.predict(X_test)

In [47]:
accuracy_score(Y_test,predictions2)

0.7207792207792207

In [48]:
from sklearn.ensemble import RandomForestClassifier

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [49]:
model3 = RandomForestClassifier()

In [50]:
model3.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [51]:
predictions3 = model3.predict(X_test)

In [52]:
accuracy_score(Y_test,predictions3)

0.7727272727272727